  <div class="d-flex">
    <%= simple_form_for :search, url: search_flats_path, method: :get do |f| %>
      <%= f.input :query, label: false, name: "query" %>
      <%= f.button :submit, "Search" %>
    <% end %>
  </div>
